.footer {
    background-color: #232323;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #4a4a4a;
    padding-top: 20px;
}